/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* font family */

/* font-family: "Work Sans", serif; */

/* All Section */
* {
    margin: 0;
    padding: 0;
}

.btn {
    padding: 14px 18px 14px 18px;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    border-radius: 8px;
    background-color: #52C303;
     border: none;
}
.btn:hover{
    background-color: #03c379;
}
.btn-contener{
    text-align: center;
    margin-top: 10px;
    
}
/* Banner Section */
#banner {
    background: linear-gradient(0deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(../assets/hero-bg.png);
    height: 720px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#banner .banner-content {
    width: 726px;
}

#banner .banner-content .subtitle {
    opacity: 0.8;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: center;
}

#banner .banner-content .title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0%;
    text-align: center;
}

#banner .banner-content .description {
    opacity: 0.7;
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
}